[defaults]
host_key_checking = false
inventory = inventory/host

[ssh_connection]
ssh_args = -o ServerAliveInterval=30 -o ServerAliveCountMax=10 -o ControlMaster=auto -o ControlPersist=60s
pipelining = true
