[defaults]
host_key_checking = false
inventory = inventory/host
vault_password_file = ~/.ansible/.vault_pass.txt

[ssh_connection]
ssh_args = -o ServerAliveInterval=30 -o ServerAliveCountMax=10 -o ControlMaster=auto -o ControlPersist=60s
pipelining = true
