---
- name: Check if reboot is required (Debian/Ubuntu)
  ansible.builtin.stat:
    path: /var/run/reboot-required
  register: reboot_required
  changed_when: false

- name: Reboot if required
  ansible.builtin.reboot:
    reboot_timeout: "{{ reboot_timeout }}"
  when:
    - reboot_if_needed
    - reboot_required.stat.exists