---
- name: Skip undrain if not in swarm
  ansible.builtin.meta: end_task
  when: not (in_swarm | default(false))

- name: Only undrain if we previously decided to drain
  ansible.builtin.meta: end_task
  when: not (should_drain | default(false))

- name: Set node back to active (run from a manager)
  ansible.builtin.command: "docker node update --availability active {{ inventory_hostname }}"
  delegate_to: "{{ swarm_delegate_manager }}"
  when:
    - swarm_delegate_manager is defined
    - swarm_delegate_manager | length > 0